@use "../../../presets" as *;
@use "../../../mixins" as *;

.publications {
  &__content {
    padding-top: $gap-xl;

    column-count: auto;
    column-gap: $gap-xl;
    column-width: 413px;
    @include sm {
      padding-top: $gap;
      padding-bottom: 110px;
    }
  }
}

.publication {
  &__item {
    display: flex;
    flex-direction: column;

    margin-bottom: $gap-xl;

    border-radius: 8px;
    background-color: $color-white;

    @include sm {
      margin-bottom: $gap;

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }
  }
  &__title {
    padding: $gap $gap 0 $gap;

    color: $color-active;

    font-size: 18px;
    font-weight: 500;
  }

  &__date {
    padding: $gap-sm $gap 18px $gap;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-gray-text;

    font-size: 12px;
    font-weight: 700;
  }


  &__description {
    margin-right: $gap;
    margin-left: $gap;
    padding: 18px 0 $gap-lg 0;

    border-top: 4px solid $color-gray-separator;

    font-size: 16px;
    font-weight: 400;

    @include lg {
      display: none;
    }
  }

  &__image {
    width: 100%;

    border-radius: 8px 8px 0 0;
  }
}
