@use "../../../presets" as *;
@use "../../../mixins" as *;

.services-item {
  &__content {
    display: flex;

    @include xs-min {
      flex-direction: column;

      margin-bottom: 15px;

      gap: $gap;
    }
    @include xs {
      align-items: center;

      margin-bottom: 10px;

      gap: $gap-sm;
    }
  }
  &__image {
    width: 92px;
    height: 92px;

    @include xs {
      width: 64px;
      height: 64px;
    }
  }
  &__title {
    order: 1;

    color: $color-active;

    font-size: 24px;
    font-weight: 500;

    @include xs {
      font-size: 18px;
    }
  }
  &__description {
    color: $color-white;

    font-size: 18px;

    @include sm {
      font-size: 16px;
    }
  }
}
