@use "../../../presets" as *;
@use "../../../mixins" as *;

.clients {
  &__content {
    display: grid;

    grid-template-areas: "hil wan tap loo" "ora adt cli eco" "inf cit art uca";
    @include md {
      grid-template-areas: "hil wan tap" "loo ora adt" "cli eco inf" "cit art uca";
    }
    @include xs {
      grid-template-areas: "hil wan" "tap loo" "eco cli" "ora inf" "uca art" "cit adt";;
    }
  }
}

.client {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 120px;

    @include sm {
      min-height: 90px;
    }

    &.--hillel {
      background-color: #1c4280;

      grid-area: hil;
    }

    &.--wannabiz {
      background-color: #143646;

      grid-area: wan;
    }

    &.--tapgerine {
      background-color: #f48b30;

      grid-area: tap;
    }

    &.--3dlook {
      background-color: #9e4dc3;

      grid-area: loo;
    }
    &.--orangear {
      background-color: #fd9339;

      grid-area: ora;
    }

    &.--adtelligent {
      background-color: #e2e2e4;

      grid-area: adt;
    }

    &.--clickky {
      background-color: #c71c36;

      grid-area: cli;
    }

    &.--ecolease {
      background-color: #dcf3f9;

      grid-area: eco;
    }

    &.--infratek {
      background-color: #eaeaea;

      grid-area: inf;
    }

    &.--citypark {
      background-color: #282240;

      grid-area: cit;
    }

    &.--artprint {
      background-color: #1d4568;

      grid-area: art;
    }

    &.--ucard {
      background-color: $color-black;

      grid-area: uca;
    }
  }

  &__logo {
    @include sm {
      max-width: 160px;
    }
  }
}
