@use "../presets" as *;

%container {
  width: min(100% - 40px, $ul);

  margin-inline: auto;
}

%text-liner-gradient {
  background: $color-gradient-red-text-reversed;
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
}

%text-liner-gradient2 {
  background: $color-gradient-red-text;
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
}
