@use "../presets" as *;
@use "../mixins" as *;

$size: 16px;

.container {
  width: min(100% - $gap * 2, $ul);
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.indicator {
  width: $size;
  height: $size;
  border-radius: $size * 0.5;
  opacity: 0.2;
  background-color: $color-active;
  &.-active {
    opacity: 1;
  }
}